.containerNavSide {
    width: 100%;
    height: 95dvh;
    border-top-left-radius: 4rem;
    gap: 1rem;
    padding-top: 20dvh;
    background: var(--backgroundColor-purple-turquoise);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: height 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.containerNavSide.playerActive {
    height: 80dvh;
    background: var(--backgroundColor-red-yellow);
    box-shadow: 0 6px 25px rgba(255, 0, 0, 0.4);
}

.containerUl ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    
}

.containerUl a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--highlightColor-turquoise);
    padding: 0.5rem 1.2rem;
    min-width: 20dvw;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.containerUl a:hover {
    background: var(--highlightColor);
    color: #ffffff;
    transform: translateX(7px) scale(1.1) ; /* שילוב אפקטי תזוזה והגדלה */
   
    box-shadow: 0 0 12px var(--highlightColor-turquoise); /* התאמה לאפקטי הצל */
}
