


.containerHeader a {
    text-decoration: none;
    color: var(--highlightColor-turquoise);
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.containerHeader a:hover {
    background: var(--highlightColor);
    color: #ffffff;
    transform: translateX(7px); /* יצירת אפקט תזוזה */
    box-shadow: 0 0 12px var(--highlightColor-turquoise); /* התאמה לאפקטי הצל */
}


/* .containerHeader.home {
    background: var(--backgroundColor);
} */

.containerHeader.dashboard {
    background: var(--backgroundColor-red-yellow);
}

.popupLogOut {
    background-color: var(--backgroundColor-purple-turquoise);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: absolute;
    padding: 10px;
    width: 250px;
    top: 5rem;
    left: 0;
    height: auto;
    border-radius: 8px;
    box-shadow: none;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s forwards;
}

/* שינוי טקסט בפופאפ של דשבורד */
.dashboard .popupLogOut p,
.dashboard .popupLogOut a {
    color: black !important; /* הגדרת צבע טקסט שחור עם !important כדי לוודא שהוא מתקבל */
}

/* טקסט בפופאפ של Home */
.home .popupLogOut p:hover,
.home .popupLogOut a:hover {
    color: var(--highlightColor);
    text-shadow: 0 0 10px var(--highlightColor);
}

/* עיצוב פרטי המשתמש */
.containerUser {
    display: flex;
    gap: 1rem;
    color: var(--textColor);
    padding: 1.3rem;
    top: 27px;
    position: absolute;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: none; /* הסרת הצללה */
}

/* .containerUser:hover {
    transform: translateY(-5px);
} */

/* עיצוב תמונת המשתמש */
.containerImg {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.containerImg:hover{
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 0px 0px 15px 2px var(--highlightColor);
}

.img {
    max-height: 50px;
    max-width: 50px;
    background-size: cover;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
}

.optionsMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3rem;
   
    font-size: 1.5rem;
    padding: 10px;
    width: 95%;
    height: 26dvh;
    background-color: var(--backgroundColor);
    box-shadow: none; /* הסרת הצללה */
    border-radius: 8px;
    margin-top:13%;
}

.optionMenuUser{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3rem;
   
    font-size: 1.5rem;
    padding: 10px;
    width: 95%;
    height: 50dvh;
    background-color: var(--backgroundColor);
    box-shadow: none; /* הסרת הצללה */
    border-radius: 8px;
    margin-top:13%;
}

/* עיצוב ייחודי למסכים קטנים */
@media screen and (max-width: 600px) {
    .optionsMenu {
        position: static;
        justify-content: space-evenly;
        box-shadow: none;
        max-height: 37dvh;
        height: 100%;
        padding: 0;
    }
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px var(--highlightColor-turquoise), 0 0 20px var(--highlightColor-turquoise);
    }

    100% {
        box-shadow: 0 0 15px var(--highlightColor-turquoise), 0 0 30px var(--highlightColor-turquoise);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.containerHeader a {
    text-decoration: none;
    color: var(--highlightColor-turquoise);
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.containerHeader a:hover {
    background: var(--highlightColor);
    color: #ffffff;
    transform: translateX(7px); /* יצירת אפקט תזוזה */
    box-shadow: 0 0 12px var(--highlightColor-turquoise); /* התאמה לאפקטי הצל */
}


.logOut {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--backgroundColor-red-yellow);
    color: black;
    font-weight: 500;
    width: 100%;
    border-radius: 8px;
    padding: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.logOut:hover {
    background: #fd0606 !important;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.7); /* אפקט הצל */
}