.containerHome {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

.homeBodyContent {
    height: 70dvh;
    overflow-y: scroll;
    
    padding: 0.5rem;
}

@media screen and (min-width:700px){
    .homeBodyContent{

        height: 83dvh;
    }  
}


.containerSongsH h3 {
    margin-top: 0.5rem;
    color: var(--textColor);
    padding-left: 1rem;
    border-bottom: 1px solid var(--highlightColor-turquoise);
}

.grid {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    width: 100%;
    max-height: 100vh;
    background-color: var(--volumeTrackColor);
}

.bodyContent {
    
    overflow: hidden;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 100vh;
    width: 95%;
    background-color: var(--inputTrackColor) ;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.containerPlaySongs {
    padding-bottom: 1rem;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    color: var(--textColor);
    background: linear-gradient(180deg, var(--secondaryHighlightColor), #515151);
    padding: 1rem;
    border-bottom: 1px solid var(--highlightColor-red);
}

.containerArtist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 2fr));
    padding: 1rem;
}

.containerArtist p {
    color: var(--textColor);
}

.containerTitle {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    overflow-x: auto;
}

.containerLibrary {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background: var(--highlightColor-purple);
    align-items: center;
    justify-content: center;
}

.containerLibrary a {
    text-decoration: none;
    color: var(--textColor);
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.containerFex {
    display: flex;
    width: 80%;
    gap: 1rem;
}



.containerSongHome {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 21px -4px rgba(92, 91, 92, 1);
    border-radius: 12px;
    background-color: var(--backgroundColor-red-yellow);
    overflow: hidden;
    padding: 1rem;
}

.containerSongHome:hover {
    background-color: var(--highlightColor-purple);
}

.img {
    width: 35%;
    border-radius: 10px;
    max-height: 200px;
    height: 100%;
}

.player {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 50vw;
    height: auto;
    max-width: 100vw;
    background-color: var(--backgroundColor-purple-turquoise);
}

.audio {
    width: 100%;
    border: none;
}

.containerNavSide {
    height: 95vh;
    width: 30vw;
    background: var(--backgroundColor-red-yellow);
    padding: 1rem;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
}

.navSide {
    position: absolute;
    top: 2.2rem;
    background-color: var(--highlightColor-purple);
    z-index: 1;
    height: max-content;
    border-top-right-radius: 2.5rem;
}

@media screen and (max-width: 500px) {
    .grid {
        display: flex;
        overflow: hidden;
        height: 94vh;
    }

    .homeBodyContent {
        height: 77vh;
    }

    .homeBodyContentPlay {
        height: 90vh;
        overflow-y: scroll;
        direction: rtl;
       
    }
}

@media screen and (max-width: 700px) {
    .containerNavSide {
        display: none;
        position: absolute;
        background-color: var(--highlightColor-purple);
        width: 15rem;
    }

    .grid {
        display: flex;
        overflow: hidden;
        height: 93vh;
    }

    .containerHomeContent {
        width: 100%;
        height: 94vh;
        overflow-y: scroll;
    }

    .containerTitle {
        direction: rtl;
        height: auto;
        overflow-y: hidden;
        justify-content: flex-start;
    }
}


.showMoreButton {
    background-color: var(--highlightColor-turquoise);
    color: var(--textColor);
    border: none;
    padding: 0.6rem 1.2rem;
    max-height: 40px;
    align-self: self-end;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(64, 224, 208, 0.5);
    outline: none;
    position: relative;
    overflow: hidden;
}


.showMoreButton::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transition: width 0.4s ease, height 0.4s ease, top 0.4s ease, left 0.4s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.showMoreButton:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}



.showMoreButton:hover {
    background-color: var(--highlightColor-purple);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(128, 0, 128, 0.6);
}

.showMoreButton:active {
    transform: translateY(1px);
    box-shadow: 0 4px 10px rgba(128, 0, 128, 0.4);
}