.containerApp {
    height: auto;
    max-width: 100lvw;
    max-height: 100lvh;

}

.flex {
    display: flex;
    gap: 1rem;
}

.loading{
    height: 100lvh;
    width: 100lvw;
    font-size: 2rem;
    color: var(--textColor);
    background-color: var(--BgClient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loading a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}